* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --background-color: #242424;
  --brand-color: #ffdd59;
  --font-base: "Montserrat", sans-serif;
  --font-elegant: "Tangerine", cursive;
  --menu-text: calc(1rem + 0.3vw);
  --big-heading: calc(2rem + 1vw);
  --big-tagline: calc(0.6rem + 1vw);
  --headline: calc(1.3rem + 1vw);
  --quick-trans: 200ms;
}

::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
  background: var(--brand-color);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--brand-color);
  font-family: var(--font-base);
}

h2 {
  font-size: var(--headline);
}

.section-margin {
  padding: 0rem 10rem;
}

/* nav */

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 10vh;
  -webkit-animation: navAnim 450ms ease-in;
  animation: navAnim 450ms ease-in;
}

.logo {
  font-family: var(--font-elegant);
  font-size: 4rem;
}

.nav-list {
  list-style: none;
}

.nav-list__item {
  display: inline-block;
  margin-left: 3rem;
  font-size: var(--menu-text);
}

.nav-list__item a {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  -webkit-transition: all var(--quick-trans) ease-in-out;
  -o-transition: all var(--quick-trans) ease-in-out;
  transition: all var(--quick-trans) ease-in-out;
}

.nav-list__item a:hover {
  border-bottom: 3px solid var(--brand-color);
}

@-webkit-keyframes navAnim {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes navAnim {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

/* end nav */

/* hero section */

.hero-section {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  margin: 0rem;
  padding: 0rem 0rem 0rem 10rem;
  position: relative;
}

.hero-content {
  padding-right: 1rem;
  -webkit-animation: heroTextAnim 550ms ease-in;
  animation: heroTextAnim 550ms ease-in;
}

.hero-content h2 {
  font-size: var(--big-heading);
}

.hero-content p {
  font-size: var(--big-tagline);
  margin: 1rem 0rem;
}

.hero-content a {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 3px solid var(--brand-color);
  font-size: var(--big-tagline);
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: all var(--quick-trans) ease-out;
  -o-transition: all var(--quick-trans) ease-out;
  transition: all var(--quick-trans) ease-out;
}

.hero-content a:hover {
  background: var(--brand-color);
  color: var(--background-color);
}

.hero-image {
  height: 80vh;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-animation: heroImageAnim 550ms ease-in;
  animation: heroImageAnim 550ms ease-in;
}

.hero-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ring,
.daimond,
.ring-two,
.daimond-two,
.earrings {
  position: absolute;
  width: 10rem;
  z-index: -1;
  bottom: 10%;
  left: 0%;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  opacity: 0.1;
}

.animate-hero-icons:nth-of-type(odd) {
  -webkit-animation: scaleHeroIcons 3s linear infinite alternate;
  animation: scaleHeroIcons 3s linear infinite alternate;
}

.ring-two {
  bottom: 0%;
  left: 50%;
}

.daimond {
  left: 56%;
  bottom: 50%;
  -webkit-transform: scale(-1) rotate(155deg);
  -ms-transform: scale(-1) rotate(155deg);
  transform: scale(-1) rotate(155deg);
}

.daimond-two {
  left: 30%;
  bottom: 40%;
  -webkit-transform: scale(1.5) rotate(35deg);
  -ms-transform: scale(1.5) rotate(35deg);
  transform: scale(1.5) rotate(35deg);
}

.earrings {
  bottom: 65%;
  left: 1%;
  -webkit-transform: scale(1.1) rotate(-35deg);
  -ms-transform: scale(1.1) rotate(-35deg);
  transform: scale(1.1) rotate(-35deg);
}

@-webkit-keyframes scaleHeroIcons {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }
}

@keyframes scaleHeroIcons {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }
}

@-webkit-keyframes heroTextAnim {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes heroTextAnim {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes heroImageAnim {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes heroImageAnim {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

/* end hero section */

/* feature section */

.feature-section {
  min-height: 60vh;
  display: block;
  margin-top: 4rem;
  position: relative;
}

.feature-heading h2 {
  text-align: center;
  font-family: var(--font-elegant);
  font-size: 4rem;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 5rem auto;
}

.feature-card {
  -ms-flex-preferred-size: 20rem;
  flex-basis: 20rem;
  width: 20rem;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-top: 5px solid var(--brand-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 1rem;
  text-align: center;
  background: var(--background-color);
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.feature-card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 5px 22px -5px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 2px 5px 22px -5px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 2px 5px 22px -5px rgba(0, 0, 0, 0.77);
}

.feature-image {
  width: 100%;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.6);
}

.feature-image img {
  width: 100%;
}

.feature-heading {
  font-size: 3rem;
  margin: 1rem auto;
  padding: 0rem 1rem;
  font-family: var(--font-elegant);
}

.feature-description {
  font-size: 1.2rem;
  padding: 0rem 1rem;
  padding-bottom: 1rem;
}

.stripes {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 10%;
  z-index: -1;
  opacity: 0.02;
}

/* end feature section */

/* about-section */

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0rem 0rem 0rem 10rem;
  background: rgba(0, 0, 0, 0.6);
  min-height: 50vh;
}

.about-content {
  width: 60%;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.quotes {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.about-content h3 {
  font-size: 4rem;
  font-family: var(--font-elegant);
  border-bottom: 6px solid var(--brand-color);
  display: inline-block;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 2rem;
}

.about-image {
  width: 40%;
  height: 100%;
  position: relative;
}

.about-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: black;
  opacity: 0.9;
}

.about-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 10% 10%;
  object-position: 10% 10%;
}

.about-us__image-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: white;
}

.about-us__image-content h3 {
  font-size: var(--headline);
  font-family: var(--font-elegant);
  border-bottom: 2px solid white;
  display: inline-block;
  margin-bottom: 1rem;
}

/* end about section */

/* work-section */

.work-section {
  margin-top: 4rem;
  min-height: 100vh;
}

.work-section-heading h2,
.contact-heading h2 {
  font-family: var(--font-elegant);
  margin-bottom: 4rem;
  text-align: center;
  font-size: 4rem;
}

.grid {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 0.5em;
  -moz-column-gap: 0.5em;
  column-gap: 0.5em;
  max-width: 100%;
  margin: auto;
  width: 100%;
}

.grid__item {
  overflow: hidden;
  cursor: pointer;
}

.grid__item img {
  height: auto;
  max-width: 100%;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.grid__item:hover img {
  -webkit-transform: scale(1.8) rotateZ(15deg);
  -ms-transform: scale(1.8) rotate(15deg);
  transform: scale(1.8) rotateZ(15deg);
}

@media (max-width: 800px) {
  .grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 600px) {
  .grid {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .grid {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/* end work-section */

/* testi-section */

.testi-section {
  margin-top: 4rem;
}

.testi-heading h2 {
  font-size: 4rem;
  font-family: var(--font-elegant);
  color: var(--brand-color);
  text-align: center;
  margin-bottom: 4rem;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 25rem;
  cursor: pointer;
  margin: 1rem auto;
}

.quotes-block {
  display: none;
}

.testimonial:hover .testimonial-text {
  background: var(--brand-color);
  color: black;
}

.testimonial:hover .quotes-block {
  display: inline-block;
}

.testimonial:hover .quotes-colored {
  display: none;
}

.testimonial-author {
  text-align: center;
  padding: 1rem;
}

.testimonial-author img {
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-author p {
  color: white;
}

.testimonial-text {
  background: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  padding: 1rem 1.5rem;
  height: 100%;
  text-align: center;
  -webkit-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  border-radius: 25px;
}

/* end testi-section */

/* contact section */

.contact-section {
  margin-top: 4rem;
  background: rgba(0, 0, 0, 0.6);
  border-top: 2px solid var(--brand-color);
  border-bottom: 2px solid var(--brand-color);
}

.contact-heading h2 {
  padding: 1rem 0rem;
  margin-bottom: 0rem;
}

.contact-wrapper {
  padding-bottom: 1rem;
}

.input-box {
  width: 100%;
  margin: 1rem 0rem;
}

.input-box h3 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  font-weight: 400;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 0.6rem;
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  outline: none;
  color: var(--brand-color);
  font-weight: 600;
  border: 1px solid transparent;
  -webkit-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.input-box textarea {
  height: 20vh;
}

.input-box input[type="submit"] {
  background: transparent;
  padding: 1rem 2rem;
  border: 2px solid var(--brand-color);
  cursor: pointer;
  display: block;
  background: var(--brand-color);
  color: black;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.input-box input[type="submit"]:hover {
  background: transparent;
  color: var(--brand-color);
}

.input-box input:focus {
  border: 1px solid var(--brand-color);
}

/* end of contact section */

/* footer */

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 10vh;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 5rem;
}

footer h2 {
  font-family: var(--font-elegant);
  font-size: 4rem;
}

footer ul {
  list-style: none;
}

footer li {
  display: inline-block;
  margin-left: 4rem;
  cursor: pointer;
}

footer li img {
  width: 2.5rem;
}

footer li img:hover {
  -webkit-transform: scale(0.87);
  -ms-transform: scale(0.87);
  transform: scale(0.87);
}

/* end footer */

@media (max-width: 1200px) {
  .section-margin {
    padding: 0rem 5rem;
  }
  .hero-section {
    padding: 0rem 0rem 0rem 5rem;
  }

  .about-section {
    padding: 0rem 0rem 0rem 5rem;
  }
}

@media (max-width: 1000px) {
  .about-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 0rem 0rem 0rem 0rem;
  }

  .about-image {
    width: 100%;
    height: 40vh;
    position: relative;
  }

  .about-image img {
    -o-object-position: center;
    object-position: center;
  }

  .about-content {
    width: 100%;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media (max-width: 820px) {
  html {
    font-size: 90%;
  }

  .section-margin {
    padding: 0rem 3rem;
  }

  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-list__item {
    margin-left: 0rem;
    margin: 1rem 0.5rem;
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer ul li {
    margin: 1rem 0.6rem;
  }

  .hero-section {
    padding: 0rem 0rem 0rem 3rem;
  }

  .about-content {
    width: 100%;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .hero-content {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem 0.5rem;
    width: 100%;
  }

  .hero-image {
    position: absolute;
    right: 0;
  }
}

@media (max-width: 500px) {
  .section-margin {
    padding: 0rem 1rem;
  }
  .about-content {
    padding-left: 1rem;
    padding-right: 0.32rem;
  }
}
